@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}

/* globales en todo el sitio */
a{
    text-decoration: none;
}

#top{
    height: 250px;
    background: #e69a20;
    background: linear-gradient(90deg, rgb(122, 82, 22) 0%, rgb(245, 152, 3) 100%);
}

    header{
        width: 1100px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; /* centrado en vertical */        
    }

    header a img {
        width: 86px;
        vertical-align: middle;
    }

    header a {
        color: #fff;
    }

    header nav a {
        padding: 14px; /* se utiliza padding en este enlace para obtener mejor experiencia de usuario al interactuar con los enlaces*/
        font-size: 18px;
        font-weight: 600;
    }

    h1{   
        
        width: 1100px;
        margin: 32px auto;
        font-size: 32px;
        font-weight: 600; 
        color: #fff;
    }

main {
    width: 1100px;
    margin: auto;
    min-height: 600px; /* ajusta el contenido del main a 600px*/
}

#bottom{
    background-color: #575555;
    min-height: 150px;
}

    footer{
        width: 1100px;
        margin: auto;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer a {
        color: #fff;
        font-size: 18px;
    }

    footer img {
        width: 82px;
        vertical-align: middle;
    }

    #redes a img{
        width: 26px;
        margin: 3px;
    }

   